.unlisted-vid {
    display: inline-block;
    border: 1px solid $primary-dark;
    background-color: $body-light;
    border-radius: 2px;
    padding: 10px;
    margin: 0 5px 5px 0;

    >img {
        margin-right: 5px;
    }
}
