$body-color: #130319;
$body-light: #200829;
$text-color: #c7c7c7;

$link-color: #989dff;
$link-hover-color: #9e70ff;

$primary-light: #00838f;
$primary: #006064;
$primary-dark: #003D39;
$accent: #f500f7;
