$body-color: #130319;
$body-light: #200829;
$text-color: #c7c7c7;

$link-color: #989dff;
$link-hover-color: #9e70ff;

$primary-light: #f0caff;
$primary: #e4a1ff;
$primary-dark: #964fb3;
$accent: #81e7ff;
