#fake-nav {
    height: 50px;
}

.navbar {
    border-bottom: 1px solid $primary;
    background-color: #000;
    z-index: 5;
}

#nav-links {
    li > a {
        color: #fff;
        background-color: #000;
        &:hover {
            color: $primary;
            background-color: #222;
        }
    }
}

.dropdown.open > a {
    color: $primary !important;
}

.dropdown-menu {
    background-color: #000;
    margin-top: -1px !important;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    border-bottom: 1px solid $primary;
    li > a:hover {
        color: $primary;
    }
}

.navbar-brand {
    padding-top: 6px;
}

.navbar-collapse {
    border-top-width: 0;
}

#nav-toggle {
    border: 0;
    &:active, &:focus {
        background: transparent;
    }
    &:hover {
        background: transparent;
        .icon-bar {
           background-color: $primary;
        }
    }
    .icon-bar {
        background-color: #fff;
    }
}

/* Medium devices */
@media (min-width: $screen-sm-min) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        text-align: right;
    }
}
