#fake-nav {
    height: 50px;
}

.navbar {
    border-bottom: 1px solid $accent;
    background-color: #000;
    z-index: 5;
}

#nav-links {
    li > a {
        color: #fff;
        background-color: #000;
        &:hover {
            color: $primary;
        }
    }
}

.dropdown-menu {
    background-color: #000;
    margin-top: -1px;
    border-left: 1px solid $accent;
    border-right: 1px solid $accent;
    border-bottom: 1px solid $accent;
    li > a:hover {
        color: $primary;
    }
}

.navbar-brand {
    padding-top: 6px;
}

.navbar-collapse {
    border-top-width: 0;
}

#nav-toggle {
    border: 0;
    &:active, &:focus {
        background: transparent;
    }
    &:hover {
        background: transparent;
        .icon-bar {
           background-color: $accent;
        }
    }
    .icon-bar {
        background-color: #fff;
    }
}
