@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "globals";
@import "colors";
@import "mixins";
@import "nav";
@import "errors/404";
@import "games/games";
@import "mm/mm";
@import "kirby/city-trial";

body {
    background-color: $body-color;
    color: $text-color;
}

::selection {
    background-color: $primary;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
}

a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
    &.darken {
        display: inline-block;
        background: black;
        img {
            display: block;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
        }
        &:hover img {
            opacity: 0.7;
        }
    }
}

input {
    background-color: #000;
    border: 2px solid $primary-dark;
    border-radius: 4px;
    padding-left: 4px;
}

.primary {
    color: $primary;
} .primary-light {
    color: $primary-light;
} .primary-dark {
    color: $primary-dark;
} .accent {
    color: $accent;
}

.bg-primary {
    background-color: $primary;
} .bg-primary-light {
    background-color: $primary-light;
} .bg-primary-dark {
    background-color: $primary-dark;
} .bg-accent {
    background-color: $accent;
}

.btn-custom-primary {
    color: $body-color;
    background-color: $primary-dark;
    &:hover {
        color: $body-color;
        background-color: $primary;
    }
    &:active {
        background-color: $primary-light;
    }
    &:focus {
        color: $body-color;
    }
}

.btn-primary-ghost {
    @include ghost($primary, $body-color);
} .btn-light-ghost {
    @include ghost($primary-light, $body-color);
} .btn-dark-ghost {
    @include ghost($primary-dark, $body-color);
} .btn-accent-ghost {
    @include ghost($accent, $body-color);
}
