@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "colors";
@import "errors/404";
@import "kirby/city-trial";

body {
  background-color: $body-color;
  color: $text-color;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

th {
  color: #fff;
}